@import "colors";
@import "fonts";

.button__primary {
  display: block;
  width: 205px;
  padding: 15px 45px;
  font-size: 17px;
  color: $dark3xl;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 30px;
  background-color: $primary;
  &:hover, &:active, &:focus{
    background-color: $primaryLight;
    transition: 0.3s;
  }
}
.button__secondary {
  display: block;
  width: 189px;
  padding: 15px 45px;
  font-size: 17px;
  color: $dark3xl;
  text-align: center;
  letter-spacing: 0.04em;
  border: 2px solid $primary;
  border-radius: 30px;
  &:hover, &:active, &:focus{
    background-color: $primaryLight;
    transition: 0.3s;
  }
}

